# ----------------------------------------------
# ------------[Arquivos de ambiente]------------
# ----------------------------------------------

.env
.env.test
.env.local.php

# ----------------------------------------------
# ------------[Cache e dependências]------------
# ----------------------------------------------

/var/
/vendor/
/migrations/

# ----------------------------------------------
# -----------[symfony/phpunit-bridge]-----------
# ----------------------------------------------

.phpunit
.phpunit.result.cache
/phpunit.xml

# ----------------------------------------------
# -------[lexik/jwt-authentication-bundle]------
# ----------------------------------------------

/config/jwt/*.pem

# ----------------------------------------------
# --------------------[mixed]-------------------
# ----------------------------------------------

.idea